@model Phase3App01.Models.CustomerDb

@{
    ViewData["Title"] = "EditCustomer";
}

<h1>EditCustomer</h1>

<h4>CustomerDb</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cusername" class="control-label"></label>
                <input asp-for="Cusername" class="form-control" />
                <span asp-validation-for="Cusername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpassword" class="control-label"></label>
                <input asp-for="Cpassword" class="form-control" />
                <span asp-validation-for="Cpassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Caddress" class="control-label"></label>
                <input asp-for="Caddress" class="form-control" />
                <span asp-validation-for="Caddress" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Cid" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
