@model Phase3App01.Models.SellerLogin

@{
    ViewData["Title"] = "Login";
    List<SellerDb1> seller = ViewBag.seller;
}

<h1>Login</h1>

<h4>SellerLogin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Susername" class="control-label"></label>
                <input asp-for="Susername" class="form-control" />
                <span asp-validation-for="Susername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spassword" class="control-label"></label>
                <input asp-for="Spassword" class="form-control" />
                <span asp-validation-for="Spassword" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@ViewBag.msg
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
